:root {
    --fredocaFontStyle: "Fredoka", sans-serif;
    --modakFontStyle: "Modak", system-ui;
    --pinkColor: #D57178;
    --beigeColor: #F5E6D0;
    --lightGreenColor: #B5BAA4;
    --goldenYellowColor: #F1C173;
    --darkColor1: #532610;
    --darkColor2: #55301E;
    --veryLightGreenColor: #DBE8E3;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 6rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: 0 12rem; 
    align-items: flex-start;

}
svg{
    color: white;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 4.7rem; 
    z-index: 3;
        
}

.doughPopLogo {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%); 
    z-index: 1000;
    height: 100%; /* Adjust as needed */
    align-items: flex-start;
    border: 2px solid red;
  }

  .navBarOptions{
    border: 2px solid green;
    width: 80%;
    height: 100%;
    margin-top: 1.2rem;
    position: relative;
  }
.menuAbout,
.locationContact{
    font-family: var(--fredocaFontStyle);
    display: flex;
    display: inline;
    flex-direction: row;
    font-size: .8rem;
    border: 2px solid black;
    
}
.menuAbout{
    
    float: left;
    margin-top: 2rem;
    margin-left: 6rem;

    a{
        margin: .4rem;
        text-decoration: none;
        color: #444444;
    }
}


.locationContact{
    float: right;
    margin-top: 2rem;
    margin-right: 6rem;

    a{
        margin: .4rem;
        text-decoration: none;
        color: #444444;


    }
}
main{
    height: 50vw;
    background-color: var(--beigeColor);
    position: relative;
    z-index: 0;
    width: 100%;
}