/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Modak&display=swap');

/* Global Variables */
:root {
    --primary-color: #D57178;        
    --secondary-color: #fbe7dd;      
    --accent-color: #fcbf49;         
    --text-color: #444444;      
    --text-color-2: #fff;     
    --macha-color: #B5BAA4;
    --choco-color: #55301E;
    --suger-color: #EFB970;
    --cookie-color: #4C2307;
    --blueberry-color: #2C9EBC;
    --blueberry-background-color:#DBE8E3;
    --lemon-color: #E48E16;
    --lemon-background-color: #F0CD35;
    --apricot-jam-color: #C37E23;
    --apricot-jam-background-color: #F1C173;
    --Snickers-color: #532610;
    --Snickers-background-color: #B5BAA4;
    --font-family: 'Fredoka', sans-serif;
    --border-radius: 30px;
  }
  
  /*  Reset & Base Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
    font-size: 24px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  
  /* 3. Reusable Utility Classes */
  .text-center {
    text-align: center;
  }
  
.btn {
  width: 338px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 30px;
  cursor: pointer;
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
  
  .btn:hover {
    background-color: #b04e4e;
  }
  
  
  /* Section titles(Each part has a different color) */
  .h1 {
   font-family: 'Modak', sans-serif;
   font-size: 64px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
  }
  
  .h2{
    text-align: center;
    font-family: 'Modak', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .mommys-words{
  color: var(--text-color-2);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }

  .contact-form{
  color: var(--text-color-2);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  }

