:root {
    --fredocaFontStyle: "Fredoka", sans-serif;
    --modakFontStyle: "Modak", system-ui;
    --pinkColor: #D57178;
    --beigeColor: #F5E6D0;
    --lightGreenColor: #B5BAA4;
    --goldenYellowColor: #F1C173;
    --darkColor1: #532610;
    --darkColor2: #55301E;
    --veryLightGreenColor: #DBE8E3;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER  */
.mainBody{
    background-color: var(--beigeColor);
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    overflow: visible;
}


.meltingSauce{
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 3;  
    position: relative;
}



/* BACKGROUND */
.svg-container{
    width: 120%;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 10;
    position: relative;
}

.roundedText{
    position: absolute;
    left: 50rem;
    width: 44rem;
    height: 33rem;
    top: 8rem;
    padding: 3rem;
    border: 1px solid aliceblue;
    z-index: 1000;
}

.bgtext{
    position: absolute;
    z-index: 0;
    border: 2px solid black;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 12px 4px rgba(83, 79, 79, 0.5);
}

.bgtext p{
    margin: 1rem 0;
    top: 0;
    font-size: 9.5rem;
}



.popBgText{
    font-family: var(--modakFontStyle);
    min-width: 100vw;
    font-size: 18rem;
    opacity: .25;
    line-height: 8rem;
    text-align: center;
    white-space: nowrap;
    transform-origin: center center;
    margin: 0;
    transform: translateY(-82%);
    z-index: 0;
    letter-spacing: .5rem;
    /* text-shadow: 2px 12px 4px rgba(83, 77, 77, 0.5); */
    text-shadow: 3px 6px 0 #8f8787;
}

.popBgText1 {

    color: var(--pinkColor);
}

.popBgText2{
    color: var(--lightGreenColor);
}

.popBgText3{
    color: var(--goldenYellowColor);   
}

.popBgText4{
    color: var(--darkColor2);
}

.popBgText5{
    color: var(--goldenYellowColor);
}

.popBgText6{
    color: var(--lightGreenColor);
}

.popBgText7{
    color: var(--pinkColor);
}

/* OVERGROUND */

.layoutOverAll{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Parent container */
.sideInfo{
    display: flex;
    width: 100rem;
    margin-left: 4rem;
    padding: 1rem;
    height: 45rem;
    background-color: white;
    z-index: 3;
    /* position: relative; */
    border-radius: 32px;
    
}

.sideInfo span{
    display: block;
    font-size: 2rem;
    font-family: var(--fredocaFontStyle);
}

.sideBarText{

}

.sideBarHeader,
.sideBarPrice{
    font-family: var(--modakFontStyle);
    color: var(--pinkColor);
    font-weight: normal;
    font-size: 3rem;
}

/* Parent container */

.donutFlavour{
    /* border: 2px solid salmon; */

    width: 100%;
    z-index: 1;
    /* position: relative; */
    right: -8rem;
    top: 9rem;
    
}
.donutFlavour img{
    width: 32rem;
    height: 40rem;
}


/* Parent container */
.donutAndBag {
 
    position: relative;
    height: 28rem;
    /* border: 1px solid yellowgreen; */
    width: 100%;
    
  }

  /* Bag (bottom) */
  .bagForDonutUnder img {
    width: 44rem;
    height: 30rem;
  }
  .bagForDonutUnder {
    position: absolute;
    bottom: 0;
    left: 30%;
    margin: 0 auto;
    transform: translateY(25%);
    z-index: 6;
  }

  /* Donut in middle */
  .donutInBag img {
    width: 44rem;
  }
  .donutInBag {
    position: absolute;
    bottom: -1rem; /* Adjust to raise/lower */
    left: 42%;
    transform: translateX(-12%);
    z-index: 8;
  }

  /* Bag handle (top) */
  .bagForDonutTop {
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translateY(37%);
    z-index: 10;
  }

  .bagForDonutTop img {
    width: 44rem;
    height: 30rem;
  }

